
/.obsidian/workspace.json
/.obsidian/app.json
/.obsidian/appearance.json
/.obsidian/community-plugins.json
/.obsidian/plugins/obsidian-git/main.js
/.obsidian/core-plugins.json
/.obsidian/plugins/obsidian-git/manifest.json
/.obsidian/plugins/obsidian-git/styles.css
/Switches/Extreme/Backups/config_list